*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4 ;
}
h2,button{
    font-family: 'Open Sans Condensed', sans-serif;
}
a{
    text-decoration: none;
}
#container{
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
}
/* header */
header{
    width: 100%;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
}
.logo .logo-img{
    margin-left: 170px;
    width: 50px;
    height:50px;
    background-image: url('../img/8603a5af28d57d0becdc1d9f4411e493.png');
    background-size: 100%;
}
.logo .logo-text{
    font-weight: 600;
    font-size: 24px;
    margin-left: 12px;
}
nav{
    width: 497px;
}
nav ul li a{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;

}
button{
    background: #DE2E54;
    border-color: #DE2E54;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 189px;
    height: 47px;
    left: 911px;
    top: 1.47px;
    border-radius: 8px;
    outline: none;
}
/* sections */
.section1{
    background: #0EB4C1;
    width: 1440px;
    height: 533px;
}
.section1-text h2{
    position: absolute;
    color: #FFFFFF;    
    width: 500px;
    height: 86px;
    left: 170px;
    top: 218px;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    margin-left: 170px;
    margin-top: 20px;
}
.section1-text{
    width: 500px;
    height: 86px;
    left: 170px;
    top: 218px;
    margin-left: 170px;
}
.section1-text p{
    font-size: 18px;
    line-height: 150%;
    position: absolute;
    width: 440px;
    height: 108px;
    left: 170px;
    top: 320px;
    margin-left: 170px;
    color: #FFFFFF;  
    margin-top: 20px;
}
.button2{
    margin-top: 390px;
    margin-left: -68px;
}
.section1-img{
    margin-left: 847px;
    margin-top: 26px;
}
.xizmatlar{
    width: 1440px;
    height: 1260px;
    background: #FFFFFF;
    margin: 0 auto;
}
.services{
    width: 864px;
    margin: 0 auto;
    text-align: center;
    height: 1224px;
}
.box{
    text-align: left;
    height: 200px;
    width: 864px;
    margin-top: 80px;
}
.box img{
    width: 200px;
    height: 200px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    border-radius: 24px;
    float: left;
}
.box h2{   
    position: absolute;
    left: 792px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
}
.box p{
    margin-top: 34px;
    position: absolute;
    left: 792px;
    width: 600px;
    height: 120px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 120px;
}
/* footer */
footer{
    margin: 0 auto;
    width: 1440px;
    height: 253px;
    background: #0EB4C1;
    text-align: center;
}
.footer1{
    height: 200px;
}
.footer1 h2{
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
    height: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}
.footer1 button{
    margin: 52px;
}
.footer2{
    background: #222222;
    width: 1440px;
    height: 97.94px;
    color: #FFFFFF;
    cursor: pointer;
}
.footer2  ul li a{
    color: #FFFFFF;
    margin-left: 32px;
}
.footer2  ul{
    margin-left: 418px;
}
